*{
    margin: 0;
    font-family: Roboto;
    /* font-size: 30px; */
}

header{
    position: sticky;
    top: 0;
    z-index: 999;
}

header p{
    background-color: #1CD1B0 ;
    padding: 0.3%;
    /* height: 40%; */
}

h1{
    font-size: 30px;
    height: fit-content;
    margin-left: 50px;
}

h2{
    text-align: center;
    padding-top: 20%;
}
body{
    height: auto;
    width: 100%;
}

.card{
    background-color: rgb(231, 229, 228);
    /* border: 2px solid blueviolet; */
    border-radius: 20px;
    display: inline-block;
    height: 400px;
    margin: 50px 0;
    width: 250px;
    min-width: 250px;
}

.card-img{    
    height: 150px;
    border-radius: 20px 20px 0 0;
    position: relative;
}

.card-content{
    position: relative;
}

.img{
    border-radius: 50%;
    height: 100px;
    left:80px;
    object-fit: cover;
    position: absolute;
    top:-50px;
    width: 100px;
}

.name{
    align-items: center;
    background-color: #00669F;
    color: white;
    display: flex;
    font-style: thin;
    font-weight: 300;
    font-size: 20px;
}

nav{
    background-color: #001D2D;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    padding: 0.8%;
}

nav ul li{
    display: inline-block;
    padding: 0 8px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}
main{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    justify-content: space-evenly;
}

footer{
    align-items: center;
    background-color: #00669F;
    color: white;
    display: flex;
    height: 4%;
    justify-content: center;    
}

.plus{
    bottom: 40%;
    height: 40px;
    position:fixed;
    right:1%;
}

.bg-1{
    background-image:url('../images/bg-batman.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-2{
    background-image:url('../images/bg-superman.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-3{
    background-image:url('../images/bg-wonderw.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
}

.fa-heart{
    color: red;
    left:20px;
    position: absolute;
    top:20px;
}